name: Node.js Package
on:
    create:
        tags:
            - '*'

permissions:
    id-token: write # Required for OIDC
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            # Setup .npmrc file to publish to npm
            - uses: actions/setup-node@v2
              with:
                  node-version: '24'
                  registry-url: 'https://registry.npmjs.org'
            - run: npm install
            - run: npm run lint
            - run: npm run typecheck
            - run: npm run build
            - run: npm publish --access public
