name: Node.js Package
on:
    create:
        tags:
            - '*'
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            # Setup .npmrc file to publish to npm
            - uses: actions/setup-node@v2
              with:
                  node-version: '22.x'
                  registry-url: 'https://registry.npmjs.org'
            - run: npm install
            - run: npm run lint
            - run: npm run typecheck
            - run: npm run build
            - run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
